<% include partials/head.ejs %>

<h1> ADDING NEW AUTHOR</h1>

<form method="POST">
    First Name: <input type="text" name="firstName"><br>
    Last Name:  <input type="text" name="lastName"><br>
    Gander: <input type="radio" name="gender" value="F"> Female
            <input type="radio" name="gender" value="M"> Male
    <!--TODO! ADD THE REMAINING FEILDS-->
    <br><br>
    <button> ADD AUTHOR</button>
    
</form >



<% include partials/footer.ejs %>