<!DOCTYPE html>
<html>
    <head>
        <title>Kyle Dilbeck Lab 10 </title>
     
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
      <!--<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <link href="css/styles.css" rel="stylesheet" type="text/css" />
      <!--<script SRC='js/functions.js'></script>   -->
      
    </head>
<h1> Adding a New Author </h1>
        

        <form method="POST">
        
            First name: <input type="text" name="firstName"><br>    
            Last  name: <input type="text" name="lastName"><br>    
            Gender: <input type="radio" name="gender" value="F">Female
                    <input type="radio" name="gender" value="M">Male
            DOB: <input type="text" name="DOB"><br></br>
            DOD: <input type="text" name="DOD"> </br>
            Biography: <textarea name="biography" cols="200" height="20"></textarea><br>
            Picture URL: <input type="text" name="picURL"><br>
            <!--TODO: Add the remaining fields -->
            <br><br>
            <button>Add Author</button>
        
            <!--CHECK IF UNDEF OR NOT, IF UNDEF NO DISPLAY, ID DEFINED->DISPLAY-->
            <%= typeof(message) != "undefined"?message:"" %>
            
        </form>        

</html>